* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(63, 154, 228);
    margin: 30px auto;
}

.container {
    text-align: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 50px;
    width: 325px;
}

.box {
    height: 100px;
    width: 100px;
    margin: 4px;
    font-size: 40px;
    border-radius: 7px;
    border: none;
    outline: 0;
    background-color: white;
    color: black;
    cursor: pointer;
}

#reset_btn {
    font-size: 15px;
    height: auto;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}

.winner {
    margin-top: 20px;
    font-size: xx-large;
}